.logo {
  width: 100px;
  height: 100px; }

.nav-item {
  font-family: lato;
  font-weight: 700; }

.nav-link {
  color: #f62587d3; }

.nav-link:hover {
  color: gold; }

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28246, 37, 135, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }

main {
  background-color: #f62587d3; }

.escudo {
  width: 100%;
  height: 100%; }

#twitter {
  padding: 10px; }

#video {
  padding: 10px; }

#presentacionJuego {
  padding: 10px;
  font-family: lato;
  font-weight: 700;
  color: black; }

#presentacion {
  padding: 10px;
  font-family: lato;
  font-weight: 700;
  font-size: large;
  color: black; }

#pregunta {
  padding: 10px;
  font-family: lato;
  font-weight: 700;
  color: black; }

#iframe {
  border-style: groove;
  border-top: solid black;
  border-left: solid black;
  border-right: solid black;
  border-bottom: solid black; }

.disImagen {
  margin: 10px;
  border-style: groove;
  border-top: solid black;
  border-left: solid black;
  border-right: solid black;
  border-bottom: solid black; }

.letra {
  padding: 10px;
  font-family: lato;
  font-weight: 700;
  font-size: large;
  color: black; }

.tamFoto, .foto1, .foto2, .foto3, .foto4, .foto5, .foto6, .foto7, .foto8 {
  margin: 10px;
  width: 400px;
  height: 400px; }

.foto1 {
  border-style: groove;
  border: solid black; }

.foto2 {
  border: solid #FF0000; }

.foto3 {
  border: solid gold; }

.foto4 {
  border: solid #00acEE; }

.foto5 {
  border: solid brown; }

.foto6 {
  border: solid orange; }

.foto7 {
  border: solid green; }

.foto8 {
  border: solid blue; }

a {
  text-decoration: none; }

.estiloLista {
  list-style: none; }

.estiloLista a {
  color: black; }

.estiloLista li {
  color: black; }

.red1:hover {
  color: #8a3ab9; }

.red2:hover {
  color: #00acEE; }

.red3:hover {
  color: #6441a5; }

.red4:hover {
  color: #FF0000; }

.tam {
  margin: 10px;
  width: 100%;
  height: 100%;
  border-style: groove;
  border-top: solid black;
  border-left: solid black;
  border-right: solid black;
  border-bottom: solid black; }

.fuente {
  font-family: lato;
  font-weight: 700;
  color: black; }

.recuadro {
  border-style: groove;
  border-top: solid black;
  border-left: solid black;
  border-right: solid black;
  border-bottom: solid black; }

.btn {
  background-color: #f62587d3;
  border-radius: 20px; }

.btn:hover {
  color: blue; }

.texto {
  font-family: lato;
  font-weight: 700;
  color: #f62587d3; }

footer {
  padding: 10px; }

.insta {
  font-size: 30px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  color: #f62587d3; }

.insta:hover {
  color: #8a3ab9; }

.twit {
  font-size: 30px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  color: #f62587d3; }

.twit:hover {
  color: #00acEE; }

/* media queries */
@media only screen and (max-width: 1024px) {
  .tamFoto, .foto1, .foto2, .foto3, .foto4, .foto5, .foto6, .foto7, .foto8 {
    width: 100%;
    height: 100%; }
  .cartas {
    display: none; }
  .div1 {
    display: none; }
  .div2 {
    display: none; } }

@media only screen and (max-width: 500px) {
  .tamFoto, .foto1, .foto2, .foto3, .foto4, .foto5, .foto6, .foto7, .foto8 {
    width: 100%;
    height: 100%; }
  .recuadro {
    border-style: none; }
  .cartas {
    display: none; }
  .div1 {
    display: none; }
  .div2 {
    display: none; } }
