footer {
    padding: 10px;
}

.insta {
    font-size: 30px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    color: #f62587d3;
}
  
.insta:hover {
    color: #8a3ab9;
}

.twit {
    font-size: 30px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    color: #f62587d3;
}

.twit:hover {
    color: #00acEE;
}