main {
    background-color: map-get($colUsados , "rosa" );
}

.escudo {
    @include shield;
}

#twitter {
    padding: 10px;
}

#video {
    padding: 10px;
}

#presentacionJuego {
    @include pJuego;
}

#presentacion {
    padding: 10px;
    font-family: lato;
    font-weight: 700;
    font-size: large;
    color: map-get($colUsados, "negro" );
}

#pregunta {
    @include pJuego;
}

#iframe {
    @include estiloBorde;
}

.disImagen {
    margin: 10px;
    @include estiloBorde;
}

.letra {
    padding: 10px;
    font-family: lato;
    font-weight: 700;
    font-size: large;
    color: map-get($colUsados, "negro" );
}

.tamFoto{
    margin: 10px;
    width: 400px;
    height: 400px;
}

.foto1 {
    @extend .tamFoto;
    border-style: groove;
    border: solid map-get($colUsados, "negro" );
}

.foto2 {
    @extend .tamFoto;
    border: solid map-get($colUsados, "rojo" );
}

.foto3 {
    @extend .tamFoto;
    border: solid map-get($colUsados, "oro" );
}

.foto4 {
    @extend .tamFoto;
    border: solid map-get($colUsados, "celeste" );
}

.foto5 {
    @extend .tamFoto;
    border: solid map-get($colUsados, "marron" );
}

.foto6 {
    @extend .tamFoto;
    border: solid map-get($colUsados, "naranja" )
}

.foto7 {
    @extend .tamFoto;
    border: solid map-get($colUsados, "verde" );
}

.foto8 {
    @extend .tamFoto;
    border: solid map-get($colUsados, "azul" );
}

a {
    text-decoration: none;
}

.estiloLista {
    list-style: none;
}

.estiloLista a {
    color: map-get($colUsados, "negro" );
}

.estiloLista li {
    color: map-get($colUsados, "negro" );
}

.red1:hover {
    color: map-get($colUsados, "purpura" )
}

.red2:hover {
    color: map-get($colUsados, "celeste" );
}

.red3:hover {
    color: map-get($colUsados, "violeta" );
}

.red4:hover {
    color: map-get($colUsados , "rojo" );
}

.tam {
    margin: 10px;
    @include shield;
    @include estiloBorde;
}

.fuente {
    font-family: lato;
    font-weight: 700;
    color: map-get($colUsados, "negro" );
}

.recuadro {
    @include estiloBorde;
}

.btn {
    background-color: map-get($colUsados, "rosa" );
    border-radius: 20px;
}

.btn:hover {
    color: map-get($colUsados, "azul" );
}

.texto {
    font-family: lato;
    font-weight: 700;
    color: map-get($colUsados, "rosa" );
}