@import "./variables";
@import "./mixin";
@import "./header";
@import "./main";
@import "./footer";


/* media queries */

@media only screen and (max-width: 1024px) {
    .tamFoto{
        @include shield;
    }
}

@media only screen and (max-width: 500px) {
    .tamFoto{
        @include shield;
    }

    .recuadro {
        border-style: none;
    }
}